<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de permiso</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/permiso/form1.css" rel="stylesheet" />
</head>
<body>
    <!-- Responsive navbar-->
    <nav th:insert="/general.html :: nav"></nav>
    <!-- Main -->
    <div class="container mt-4 d-flex justify-content-center">
        <div class="col-12 col-lg-8 col-xl-7">
            <form th:action="@{/permiso/postpermiso} + ${esDiario ? 'diario' : 'periodo'}" th:object="${permiso}" method="POST">
                <div class="card">
                    <div class="card-header">
                        <h3>Solicitar 
                            <span th:if="${esDiario}">permiso diario</span>
                            <span th:unless="${esDiario}">permiso por período</span>
                        </h3>
                    </div>
                    <div class="card-body">

                        <!-- Persona -->

                        <h5 class="card-title">Persona</h5>
                            <input type="hidden" th:field="*{pedido.id}">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nombre</label>
                                        <input th:field="*{pedido.nombre}" type="text" class="form-control" th:attr="readonly=*{pedido.id != 0 ? 'readonly' : null}">
                                        <p class="error text-danger" th:if="${#fields.hasErrors('pedido.nombre')}" th:errors="*{pedido.nombre}">Nombre tiene errores</p>
                                    </div>
                                    <div class="col-md-6 pt-2">
                                        <label>Apellido</label>
                                        <input th:field="*{pedido.apellido}" type="text" class="form-control" th:attr="readonly=*{pedido.id != 0 ? 'readonly' : null}">
                                        <p class="error text-danger" th:if="${#fields.hasErrors('pedido.apellido')}" th:errors="*{pedido.apellido}">Apellido tiene errores</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group pt-2">
                                <label>Documento</label>
                                <div class="row">
                                    <div class="col-sm-4 col-lg-3">
                                        <input type="hidden" th:field="*{pedido.tipoDocumento}">
                                        <select class="form-select" disabled>
                                            <option th:each="tipodoc : ${lstTipoDoc}"
                                                    th:value="${tipodoc}"
                                                    th:text="${tipodoc}"
                                                    th:selected="${tipodoc} == *{pedido.tipoDocumento}">
                                            </option>
                                        </select>     
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <input th:field="*{pedido.documento}" type="number" class="form-control" readonly="readonly" required>
                                    </div>
                                </div>
                                <p class="error text-danger" th:if="${#fields.hasErrors('pedido.documento')}" th:errors="*{pedido.documento}">Documento tiene errores</p>
                            </div>
                            <div class="form-group pt-2">
                                <label>Email</label>
                                <input th:field="*{pedido.email}" type="email" class="form-control" th:attr="readonly=*{pedido.id != 0 ? 'readonly' : null}">
                                <p class="error text-danger" th:if="${#fields.hasErrors('pedido.email')}" th:errors="*{pedido.email}">Email tiene errores</p>
                            </div>

                        <!-- Rodado -->
    
                        <div th:unless="${esDiario}">
                            <h5 class="card-title pt-4">Rodado</h5>
                            <input type="hidden" th:field="*{rodado.id}">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 pt-2">
                                        <label>Vehículo</label>
                                        <input placeholder="Marca, modelo" th:field="*{rodado.vehiculo}" type="text" class="form-control" th:attr="readonly=*{rodado.id != 0 ? 'readonly' : null}">
                                        <p class="error text-danger" th:if="${#fields.hasErrors('rodado.vehiculo')}" th:errors="*{rodado.vehiculo}">Vehículo tiene errores</p>
                                    </div>
                                    <div class="col-md-6 pt-2">
                                        <fieldset readonly>
                                        <label>Patente</label>
                                        <input th:field="*{rodado.dominio}" type="text" class="form-control" th:attr="readonly=*{rodado.id != 0 ? 'readonly' : null}">
                                        <p class="error text-danger" th:if="${#fields.hasErrors('rodado.dominio')}" th:errors="*{rodado.dominio}">Patente tiene errores</p>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Permiso, campos clase padre -->

                        <h5 class="card-title pt-4">Permiso</h5>
                        <input type="hidden" th:field="*{idPermiso}">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 pt-2">
                                        <label>Desde</label>
                                        <select class="form-select" name="idDesde" data-size="5" data-dropup-auto="false" required>
                                            <option selected disabled value="">Seleccione</option>
                                            <option th:each="lugar : ${lugares}"
                                                    th:value="${lugar.id}"
                                                    th:text="${lugar.lugar}">
                                            </option>
                                        </select>
                                        <p class="error text-danger" th:if="${#fields.hasErrors('desdeHasta')}" th:errors="*{desdeHasta}">DesdeHasta tiene errores</p>
                                    </div>
                                    <div class="col-md-4 pt-2">
                                        <label>Hasta</label>
                                        <select class="form-select" name="idHasta" data-size="5" data-dropup-auto="false" required>
                                            <option selected disabled value="">Seleccione</option>
                                            <option th:each="lugar : ${lugares}"
                                                    th:value="${lugar.id}"
                                                    th:text="${lugar.lugar}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 pt-2">
                                        <label>Fecha<span th:unless="${esDiario}"> de inicio</span></label>
                                        <input th:field="*{fecha}" type="date" class="form-control" required>
                                        <p class="error text-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}">Fecha tiene errores</p>
                                    </div>
                                </div>
                            </div>


                        <!-- Permiso,  específico de sublcases -->

                        <div th:if="${esDiario}">
                            <div class="form-group pt-2">
                                <label>Motivo</label>
                                <input th:field="*{motivo}" type="text" class="form-control">
                                <p class="error text-danger" th:if="${#fields.hasErrors('motivo')}" th:errors="*{motivo}">Motivo tiene errores</p>
                            </div>
                        </div>
                        <div th:unless="${esDiario}">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8 pt-2">
                                        <label>Cantidad de días</label>
                                        <input th:field="*{cantDias}" type="number" class="form-control">
                                        <p class="error text-danger" th:if="${#fields.hasErrors('cantDias')}" th:errors="*{cantDias}">CantDias tiene errores</p>
                                    </div>
                                    <div class="col-md-4 pt-2">
                                        <label>Por vacaciones?</label>
                                        <div class="form-control no-borders">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" th:field="*{vacaciones}" id="radio1" th:value="true" checked>
                                                <label class="form-check-label" for="radio2">Sí</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" th:field="*{vacaciones}" id="radio2" th:value="false">
                                                <label class="form-check-label" for="radio2">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="card-footer">
                        <input id="submit-btn" type="submit" value="Continuar" class="btn btn-success">
                        <a class="btn btn-secondary pl-2" onclick='javascript:window.history.back()'>Volver</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    <script src="/js/permiso/form1.js"></script>
</body>
</html>