<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios ABM</title>
</head>
<body>
    <div class="form">
        <form th:action="@{/save}" th:object="${user}" method="POST">
            <div class="form-header">
                <h3>Agregar / Editar (Hacer condicional con TH)</h3>
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label>Nombre</label>
                    <input th:field="*{nombre}" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input th:field="*{nombre}" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Tipo Documento</label>
                    <select>
                        <option th:each="tipodoc : ${user.tipoDocumento.values()}"
                                th:value="${tipodoc}"
                                th:text="${tipodoc}">
                        </option>
                    </select>                    
                </div>
                <div class="form-group">
                    <label>Documento</label>
                    <input th:field="*{documento}" type="text" class="form-control">
                </div>
            </div>
            <div class="form-footer">
                <input type="submit" value="Guardar" class="btn btn-success">
            </div>
        </form>
    </div>
</body>
</html>