<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios ABM</title>
</head>
<body>
    <div class="form">
        <form th:action="@{/user/new}" th:object="${user}" method="POST">
            <div class="form-header">
                <h3>Agregar / Editar (Hacer condicional con TH)</h3>
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label>Nombre</label>
                    <input th:field="*{nombre}" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input th:field="*{apellido}" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Documento</label>
                    <select th:field="*{tipoDocumento}">
                        <option th:each="tipodoc : ${lstTipoDoc}"
                                th:value="${tipodoc}"
                                th:text="${tipodoc}">
                        </option>
                    </select>     
                    <input th:field="*{documento}" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input th:field="*{email}" type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input th:field="*{username}" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input th:field="*{password}" type="password" class="form-control">
                </div>
                <div class="form-group">
                    <label>Perfil</label>
                    <select name="idUserRole">
                        <option th:each="userrole : ${userroles}"
                                th:value="${userrole.id}"
                                th:text="${userrole.role}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-footer">
                <input type="submit" value="Guardar" class="btn btn-success">
            </div>
        </form>
    </div>
</body>
</html>