<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" /> 
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/fafb81db9e.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Responsive navbar-->
    <nav th:insert="/general.html :: nav"></nav>
    <!-- Main -->
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <div th:if="${abm}" class="row mb-2 align-items-center">
                    <div class="col-auto">
                        <a th:href="@{new}" class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar</a>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <form id="checkInactivos" th:action="@{/user/abm}" th:method="get">
                                <input type="hidden" name="cambio" value="true" />
                                <input class="form-check-input" onChange="this.form.submit()" type="checkbox" th:checked="${session.users_inactivos_show}">
                            </form>
                            <label class="form-check-label" for="inlineCheckbox1">Mostrar inactivos</label>
                        </div>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Tipo doc.</th>
                            <th>Documento</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Perfil</th>
                            <th th:if="${abm}">Activo</th>
                            <th th:if="${abm}">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}" th:class="${user.activo ? '' : 'table-secondary text-muted'}">
                            <td><span th:text="${user.nombre}" /></td>
                            <td><span th:text="${user.apellido}" /></td>
                            <td><span th:text="${user.tipoDocumento}" /></td>
                            <td><span th:text="${user.documento}" /></td>
                            <td><span th:text="${user.email}" /></td>
                            <td><span th:text="${user.username}" /></td>
                            <td><span th:text="${user.userRole.role}" /></td>
                            <td th:if="${abm}"><span th:text="${user.activo ? 'Sí' : 'No'}" /></td>
                            <td th:if="${abm}">
                                <!-- Si user activo -->
                                <a th:if="${user.activo}" th:href="@{edit/(id=${user.id})}" class="btn btn-warning"><i class="fas fa-user-edit"></i> <span class="d-none d-lg-inline">Editar</span></a>
                                <a th:if="${user.activo}" th:href="@{delete/}+${user.id}" class="btn btn-danger"><i class="fas fa-user-times"></i> <span class="d-none d-lg-inline">Eliminar</span></a>
                                <!-- Si user inactivo -->
                                <a th:if="${!user.activo}" href="#" class="btn btn-secondary"><i class="fas fa-user-edit"></i> <span class="d-none d-lg-inline">Editar</span></a>
                                <a th:if="${!user.activo}" th:href="@{edit/(id=${user.id}, reactivar='true')}" class="btn btn-success"><i class="fas fa-user-check"></i> <span class="d-none d-lg-inline">Reactivar</span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</body>
</html>