<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roles ABM</title>
</head>
<body>
    <div class="form">
        <form th:action="@{/userRoles/newUserRole}" th:object="${userrole}" method="POST">
            <div class="form-header">
                <h3>
	            	<span th:unless="${edit}">Agregar</span>
	            	<span th:if="${edit}">Editar</span>
            	</h3>	
            </div>
            <div class="form-body">
            	<input type="hidden" th:field="*{id}">
            	<input type="hidden" name="edit" th:value="${edit}">
                <div class="form-group">
                    <label>Role</label>
                    <input th:field="*{role}" type="text" class="form-control">
           		</div>
           	</div>
            <div class="form-footer">
                <input type="submit" value="Guardar">
            </div>
        </form>
    </div>
</body>
</html>