<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Grupo21</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav th:insert="/general.html :: nav"></nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>TPC Parte 1</h1>
                <p class="lead" th:text="'La base de datos contiene ' + ${userCount} + ' usuarios activos y ' + ${userRoleCount} + ' perfiles ingresados.'"></p>
                <p>Gianluca Cambareri<br>Juan Blanco<br>Julián Castro</p>
                <p class="pt-2">Orientación a Objetos II • Licenciatura en Sistemas • UNLa</p>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
